<div class="footer-container">
  <div class="footer-content">
    <div class="footer-about">
      <div class="footer-about-logo">
        <img src="./assets/images/header/Asset%203.png">
      </div>
      <div class="footer-about-text">
        <span>Nous sommes une entreprise de financement participatif fondée pour aider les start-ups qui souhaitent démarrer leur entreprise à accélérer leurs réalisations. Démarrez votre entreprise ici.</span>
      </div>
    </div>
    <div class="footer-links">
      <div class="footer-link">
        <div class="footer-link-title">
          <span>Funderz</span>
        </div>
        <div class="footer-link-text"><div><span>À propos</span></div></div>
        <div class="footer-link-text"><div><span>Projet</span></div></div>
        <div class="footer-link-text"><div><span>Article</span></div></div>
      </div>
      <div class="footer-link">
        <div class="footer-link-title">
          <span>Support</span>
        </div>
        <div class="footer-link-text"><div><span>FAQ</span></div></div>
        <div class="footer-link-text"><div><span>Politique de confidentialité</span></div></div>
        <div class="footer-link-text"><div><span>Conditions d'utilisation</span></div></div>
      </div>
      <div class="footer-link">
        <div class="footer-link-title">
          <span>Réseaux sociaux</span>
        </div>
        <div class="footer-link-text"><div><span>Instagram</span></div></div>
        <div class="footer-link-text"><div><span>Linkedin</span></div></div>
        <div class="footer-link-text"><div><span>Facebook</span></div></div>
      </div>

    </div>
  </div>
  <div class="footer-copy"><span>©2023 Funderz. All right reserved</span></div>


</div>
