<div class="landing-page-container">
  <div class="landing-page-section-1">
    <div class="landing-page-section-1-description">
      <div><span class="landing-page-section-1-description-small-title">Avec Funderz</span></div>
      <div><span class="landing-page-section-1-description-title">Ensemble, nous pouvons grandir.</span></div>
      <div><span class="landing-page-section-1-description-description">
        Nous sommes une entreprise de financement participatif fondée pour aider les start-ups qui souhaitent démarrer leur entreprise à accélérer leurs réalisations. Lancez votre entreprise ici.
      </span></div>
      <div>
        <button class="landing-page-section-1-description-button"><span>Find a Project</span></button>
      </div>
    </div>
    <div class="landing-page-section-1-image">
      // TODO: ADD IMAGE
    </div>
  </div>
  <div class="landing-page-section-2">
    <div class="landing-page-section-2-item">
      <div class="landing-page-section-2-item-title"><span>Projet</span></div>
      <div class="landing-page-section-2-item-number"><span>1.000+</span></div>
    </div>
    <div class="landing-page-section-2-item">
      <div class="landing-page-section-2-item-title"><span>Collecté</span></div>
      <div class="landing-page-section-2-item-number"><span>1,998,340 DT</span></div>
    </div>
    <div class="landing-page-section-2-item">
      <div class="landing-page-section-2-item-title"><span>Participations</span></div>
      <div class="landing-page-section-2-item-number"><span>20,000+</span></div>
    </div>
    <div class="landing-page-section-2-item">
      <div class="landing-page-section-2-item-title"><span>Projet lancer</span></div>
      <div class="landing-page-section-2-item-number"><span>100+</span></div>
    </div>
  </div>
  <div class="landing-page-section-3">

  </div>
</div>
