<div class="landing-page-container">
  <div class="landing-page-section-1">
    <div class="landing-page-section-1-description">
      <div><span class="landing-page-section-1-description-small-title">Avec Funderz</span></div>
      <div><span class="landing-page-section-1-description-title">Ensemble, nous pouvons grandir.</span></div>
      <div><span class="landing-page-section-1-description-description">
        Nous sommes une entreprise de financement participatif fondée pour aider les start-ups qui souhaitent démarrer leur entreprise à accélérer leurs réalisations. Lancez votre entreprise ici.
      </span></div>
      <div>
        <button [routerLink]="'/main/campaign'" class="landing-page-section-1-description-button"><span>Find a Project</span></button>
      </div>
    </div>
    <div class="landing-page-section-1-image">
      <img width="100%" src="./assets/images/photo%20(10).jpg">
    </div>
  </div>
  <div class="landing-page-section-2">
    <div class="landing-page-section-2-item">
      <div class="landing-page-section-2-item-title"><span>Projet</span></div>
      <div class="landing-page-section-2-item-number"><span>1.000+</span></div>
    </div>
    <div class="landing-page-section-2-item">
      <div class="landing-page-section-2-item-title"><span>Collecté</span></div>
      <div class="landing-page-section-2-item-number"><span>1,998,340 DT</span></div>
    </div>
    <div class="landing-page-section-2-item">
      <div class="landing-page-section-2-item-title"><span>Participations</span></div>
      <div class="landing-page-section-2-item-number"><span>20,000+</span></div>
    </div>
    <div class="landing-page-section-2-item">
      <div class="landing-page-section-2-item-title"><span>Projet lancer</span></div>
      <div class="landing-page-section-2-item-number"><span>100+</span></div>
    </div>
  </div>
  <div class="landing-page-section-3 row mx-0">
    <div class="landing-page-section-3-text col-4">
      <div class="landing-page-section-3-text-small"><span>Catégorie</span></div>
      <div class="landing-page-section-3-text-big">
        <span>Découvrir les projets par catégorie</span>
      </div>
    </div>
    <div class="landing-page-section-3-category col-8">
      <div  class="landing-page-section-3-category-card">
        <div class="landing-page-section-3-category-card-description">
          <div class="landing-page-section-3-category-card-description-title"><span>Design & Tech</span></div>
          <div class="landing-page-section-3-category-card-description-text"><span>Projets dans la catégorie de la technologie et du design, y compris les projets les plus nombreux en raison des développements technologiques rapides.</span>
          </div>
        </div>
        <div class="landing-page-section-3-category-card-action">
          <button class="text-white">/</button>
        </div>
      </div>
      <div  class="landing-page-section-3-category-card">
        <div class="landing-page-section-3-category-card-description">
          <div class="landing-page-section-3-category-card-description-title"><span>Design & Tech</span></div>
          <div class="landing-page-section-3-category-card-description-text"><span>Projets dans la catégorie de la technologie et du design, y compris les projets les plus nombreux en raison des développements technologiques rapides.</span>
          </div>
        </div>
        <div class="landing-page-section-3-category-card-action">
          <button class="text-white">/</button>
        </div>
      </div>
    </div>
  </div>
  <div class="landing-page-section-4">
    <div class="landing-page-section-4-small-title">
      <span>À la une</span>
    </div>
    <div class="landing-page-section-4-big-title">
      <span>Projet en vedette</span>
    </div>
    <div class="landing-page-section-4-description">
      <span>
        Nous sommes une entreprise de financement participatif fondée pour aider les startups qui souhaitent démarrer leur entreprise à accélérer leurs réalisations
      </span>
    </div>
    <div class="landing-page-section-4-cards">
      <div class="landing-page-section-4-card row mx-0">
        <div  class="col-6  landing-page-section-4-card-image">
          <img src="./assets/images/photo%20(9).jpg">
        </div>
        <div  class="col-6 landing-page-section-4-card-details">
          <div class="landing-page-section-4-card-details-title">
            <span>Mas Adif : Keeb - 60% Mechanical Keyboard</span>
          </div>
          <div class="landing-page-section-4-card-details-persona">
            <span>By Mas Adif</span>
          </div>
          <div class="landing-page-section-4-card-details-progress">
            <mat-progress-bar color="accent" mode="determinate" value="70"></mat-progress-bar>
          </div>
          <div class="landing-page-section-4-card-details-info">
            <div class="landing-page-section-4-card-details-info-current">
              <span>55,000 DT</span>
            </div>
            <div class="landing-page-section-4-card-details-info-target">
              <span>80,000 DT Targeted Goal</span>
            </div>
          </div>
          <div class="landing-page-section-4-card-details-stats">
            <div class="landing-page-section-4-card-details-stats-backers">
              <div class="landing-page-section-4-card-details-stats-backers-title">Backers</div>
              <div class="landing-page-section-4-card-details-stats-backers-value">4,200</div>
            </div>
            <div class="landing-page-section-4-card-details-stats-duration">
              <div class="landing-page-section-4-card-details-stats-duration-title">Duration</div>
              <div class="landing-page-section-4-card-details-stats-duration-value">25D : 23H : 56M</div>
            </div>
          </div>
          <div class="landing-page-section-4-card-details-action">
            <button class="text-white">/</button>
          </div>
        </div>
      </div>
      <div class="landing-page-section-4-card row mx-0">
        <div  class="col-6  landing-page-section-4-card-image">
          <img src="./assets/images/photo%20(9).jpg">
        </div>
        <div  class="col-6 landing-page-section-4-card-details">
          <div class="landing-page-section-4-card-details-title">
            <span>Mas Adif : Keeb - 60% Mechanical Keyboard</span>
          </div>
          <div class="landing-page-section-4-card-details-persona">
            <span>By Mas Adif</span>
          </div>
          <div class="landing-page-section-4-card-details-progress">
            <mat-progress-bar color="accent" mode="determinate" value="70"></mat-progress-bar>
          </div>
          <div class="landing-page-section-4-card-details-info">
            <div class="landing-page-section-4-card-details-info-current">
              <span>55,000 DT</span>
            </div>
            <div class="landing-page-section-4-card-details-info-target">
              <span>80,000 DT Targeted Goal</span>
            </div>
          </div>
          <div class="landing-page-section-4-card-details-stats">
            <div class="landing-page-section-4-card-details-stats-backers">
              <div class="landing-page-section-4-card-details-stats-backers-title">Backers</div>
              <div class="landing-page-section-4-card-details-stats-backers-value">4,200</div>
            </div>
            <div class="landing-page-section-4-card-details-stats-duration">
              <div class="landing-page-section-4-card-details-stats-duration-title">Duration</div>
              <div class="landing-page-section-4-card-details-stats-duration-value">25D : 23H : 56M</div>
            </div>
          </div>
          <div class="landing-page-section-4-card-details-action">
            <button class="text-white">/</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="project" class="landing-page-section-5">
    <div class="landing-page-section-5-small-title">
      <span>Projet</span>
    </div>
    <div class="landing-page-section-5-big-title">
      <span>Produit régional</span>
    </div>
    <div class="landing-page-section-5-description">
      <span>
Nous sommes une entreprise de financement participatif fondée pour aider les startups qui souhaitent démarrer leur entreprise à accélérer leurs réalisations      </span>
    </div>
    <div class="landing-page-section-5-cards">
      <div  class="landing-page-section-5-card">
        <div [routerLink]="'/main/campaign'" class="px-2 landing-page-section-5-card-image">
          <img src="./assets/images/photo%20(8).jpg">
        </div>
        <div class="px-2 mt-2 landing-page-section-5-card-category">
          <span>DESIGN & TECH</span>
        </div>
        <div class="px-2 landing-page-section-5-card-title">
          <span>Monitor : Elji Lightsaber Pro Motion Display 32”</span>
        </div>
        <div class="px-2 landing-page-section-5-card-persona"><span>By Funderz</span></div>
        <div class="px-2 landing-page-section-5-card-progress">
          <mat-progress-bar color="accent" mode="determinate" value="80"></mat-progress-bar>
        </div>
        <div class="px-2 landing-page-section-5-card-info">
          <div class="landing-page-section-5-card-info-price">
            <div>
              <span class="landing-page-section-5-card-info-price-value">2,000 DT</span>
              <span
                class="landing-page-section-5-card-info-price-type">Raised</span>
            </div>


          </div>
          <div class="landing-page-section-5-card-info-percentage"><span>80%</span></div>
        </div>
        <div class="px-2 landing-page-section-5-card-days">
          <span>10 Days left</span>
        </div>

      </div>
      <div  class="landing-page-section-5-card">
        <div [routerLink]="'/main/campaign'" class="px-2 landing-page-section-5-card-image">
          <img src="./assets/images/photo%20(4).jpg">
        </div>
        <div [routerLink]="'/main/campaign'" class="px-2 mt-2 landing-page-section-5-card-category">
          <span>DESIGN & TECH</span>
        </div>
        <div class="px-2 landing-page-section-5-card-title">
          <span>Sasapu : Smarthome Robot Cleaning For Better Life</span>
        </div>
        <div class="px-2 landing-page-section-5-card-persona"><span>By Funderz</span></div>
        <div class="px-2 landing-page-section-5-card-progress">
          <mat-progress-bar color="accent" mode="determinate" value="112"></mat-progress-bar>
        </div>
        <div class="px-2 landing-page-section-5-card-info">
          <div class="landing-page-section-5-card-info-price">
            <div>
              <span class="landing-page-section-5-card-info-price-value">12,000 DT</span>
              <span
                class="landing-page-section-5-card-info-price-type">Raised</span>
            </div>


          </div>
          <div class="landing-page-section-5-card-info-percentage"><span>112%</span></div>
        </div>
        <div class="px-2 landing-page-section-5-card-days">
          <span>12 Days left</span>
        </div>

      </div>
      <div  class="landing-page-section-5-card">
        <div [routerLink]="'/main/campaign'" class="px-2 landing-page-section-5-card-image">
          <img src="./assets/images/photo%20(7).jpg">
        </div>
        <div class="px-2 mt-2 landing-page-section-5-card-category">
          <span>DESIGN & TECH</span>
        </div>
        <div class="px-2 landing-page-section-5-card-title">
          <span>Jimbot : The Best Gaming Handheld For Boomer</span>
        </div>
        <div class="px-2 landing-page-section-5-card-persona"><span>By Funderz</span></div>
        <div class="px-2 landing-page-section-5-card-progress">
          <mat-progress-bar color="accent" mode="determinate" value="50"></mat-progress-bar>
        </div>
        <div class="px-2 landing-page-section-5-card-info">
          <div class="landing-page-section-5-card-info-price">
            <div>
              <span class="landing-page-section-5-card-info-price-value">9,000 DT</span>
              <span
                class="landing-page-section-5-card-info-price-type">Raised</span>
            </div>


          </div>
          <div class="landing-page-section-5-card-info-percentage"><span>50%</span></div>
        </div>
        <div class="px-2 landing-page-section-5-card-days">
          <span>14 Days left</span>
        </div>

      </div>
    </div>
  </div>
  <div class="landing-page-section-6">
    <div class="landing-page-section-6-small-title">
      <span>Article</span>
    </div>
    <div class="landing-page-section-6-description">
      <div class="landing-page-section-6-description-title">
        <span>Des articles qui peuvent faire croître votre entreprise.</span>
      </div>
      <div class="landing-page-section-6-description-sub">
        <div class="landing-page-section-6-description-sub-text"><span>La lecture est une fenêtre sur la connaissance, apprenons et évoluons ensemble, ne laissez pas vos idées rester bloquées dans votre esprit.</span>
        </div>
        <div class="landing-page-section-6-description-sub-text"><span>Reading is the process of taking in the sense or meaning of letters, symbols, etc., especially by sight or touch.</span>
        </div>
      </div>
    </div>
    <div class="landing-page-section-6-cards">
      <div class="landing-page-section-6-card">
        <div class="landing-page-section-6-card-image">
          <img src="./assets/images/photo%20(5).jpg">
        </div>
        <div class="landing-page-section-6-card-details">
          <div class="landing-page-section-6-card-details-title">
            <span>Comment parler de votre projet de manière honnête ...</span>
          </div>
          <div class="landing-page-section-6-card-details-description">
            <span>Nos conseils pour créer une page de projet qui soit honnête, ouverte et transparente à la fois dans le texte et les éléments visuels.</span>
          </div>
          <div class="landing-page-section-6-card-details-action">
            <button [routerLink]="'/main/campaign'">/</button>
          </div>
        </div>
      </div>
      <div class="landing-page-section-6-card">
        <div class="landing-page-section-6-card-image">
          <img src="./assets/images/photo%20(4).jpg">
        </div>
        <div class="landing-page-section-6-card-details">
          <div class="landing-page-section-6-card-details-title">
            <span>Activités à essayer cet hiver pour stimuler productivité.</span>
          </div>
          <div class="landing-page-section-6-card-details-description">
            <span>L'hiver est la saison de l'année où de nombreuses personnes commencent à passer la majeure partie de leur temps ... l'intérieur. Vous voudrez sortir à l'extérieur pour...</span>
          </div>
          <div class="landing-page-section-6-card-details-action">
            <button [routerLink]="'/main/campaign'">/</button>
          </div>
        </div>
      </div>
    </div>
    <div class="landing-page-section-6-cards">
      <div class="landing-page-section-6-card">
        <div class="landing-page-section-6-card-image">
          <img src="./assets/images/photo%20(1).jpg">
        </div>
        <div class="landing-page-section-6-card-details">
          <div class="landing-page-section-6-card-details-title">
            <span>Un guide interactif pour débutants sur le Google ... Agenda.</span>
          </div>
          <div class="landing-page-section-6-card-details-description">
            <span>Google Calendar provides users with an easy way to track their day-to-day tasks with minimal issues.</span>
          </div>
          <div class="landing-page-section-6-card-details-action">
            <button [routerLink]="'/main/campaign'">/</button>
          </div>
        </div>
      </div>
      <div class="landing-page-section-6-card">
        <div class="landing-page-section-6-card-image">
          <img src="./assets/images/photo%20(2).jpg">
        </div>
        <div class="landing-page-section-6-card-details">
          <div class="landing-page-section-6-card-details-title">
            <span>Y a-t-il un moment idéal pour les réunions</span>
          </div>
          <div class="landing-page-section-6-card-details-description">
            <span>Are you encountering meeting mortification? There are ways to tweak the day and time of your meetings</span>
          </div>
          <div class="landing-page-section-6-card-details-action">
            <button [routerLink]="'/main/campaign'">/</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="landing-page-section-7">
    <div class="landing-page-section-7-small-title">
      <span>FAQ</span>
    </div>
    <div class="landing-page-section-7-big-title">
      <span>Foire aux questions</span>
    </div>
    <div class="landing-page-section-7-description">
      <span>
Obtenez des réponses aux questions fréquemment posées sur le financement participatif.     </span>
    </div>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Qu'est-ce que le financement participatif ?
          </mat-panel-title>
          <mat-icon>add</mat-icon>
        </mat-expansion-panel-header>
        <p>Le financement participatif est l'utilisation de petites sommes d'argent provenant d'un grand nombre
          d'individus pour financer un nouveau projet d'entreprise. Le financement participatif tire parti de la
          facilité d'accès aux vastes réseaux de personnes via les médias sociaux et les sites de financement
          participatif pour mettre en relation les investisseurs et les entrepreneurs, avec le potentiel d'encourager
          l'entrepreneuriat en élargissant le cercle traditionnel des propriétaires, des proches et des capitalistes de
          risque.</p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Comment fonctionne le financement participatif ?
          </mat-panel-title>
          <mat-icon>add</mat-icon>


        </mat-expansion-panel-header>
        <p>Le financement participatif est l'utilisation de petites sommes d'argent provenant d'un grand nombre
          d'individus pour financer un nouveau projet d'entreprise. Le financement participatif tire parti de la
          facilité d'accès aux vastes réseaux de personnes via les médias sociaux et les sites de financement
          participatif pour mettre en relation les investisseurs et les entrepreneurs, avec le potentiel d'encourager
          l'entrepreneuriat en élargissant le cercle traditionnel des propriétaires, des proches et des capitalistes de
          risque.</p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Il existe combien de types de financement participatif ?
          </mat-panel-title>
          <mat-icon>add</mat-icon>

        </mat-expansion-panel-header>
        <p>Le financement participatif est l'utilisation de petites sommes d'argent provenant d'un grand nombre
          d'individus pour financer un nouveau projet d'entreprise. Le financement participatif tire parti de la
          facilité d'accès aux vastes réseaux de personnes via les médias sociaux et les sites de financement
          participatif pour mettre en relation les investisseurs et les entrepreneurs, avec le potentiel d'encourager
          l'entrepreneuriat en élargissant le cercle traditionnel des propriétaires, des proches et des capitalistes de
          risque.</p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Comment créer un projet ?
          </mat-panel-title>
          <mat-icon>add</mat-icon>

        </mat-expansion-panel-header>
        <p>Le financement participatif est l'utilisation de petites sommes d'argent provenant d'un grand nombre
          d'individus pour financer un nouveau projet d'entreprise. Le financement participatif tire parti de la
          facilité d'accès aux vastes réseaux de personnes via les médias sociaux et les sites de financement
          participatif pour mettre en relation les investisseurs et les entrepreneurs, avec le potentiel d'encourager
          l'entrepreneuriat en élargissant le cercle traditionnel des propriétaires, des proches et des capitalistes de
          risque.</p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            "Quand est-ce que Projet se terminera ?
          </mat-panel-title>
          <mat-icon>add</mat-icon>

        </mat-expansion-panel-header>
        <p>Le financement participatif est l'utilisation de petites sommes d'argent provenant d'un grand nombre
          d'individus pour financer un nouveau projet d'entreprise. Le financement participatif tire parti de la
          facilité d'accès aux vastes réseaux de personnes via les médias sociaux et les sites de financement
          participatif pour mettre en relation les investisseurs et les entrepreneurs, avec le potentiel d'encourager
          l'entrepreneuriat en élargissant le cercle traditionnel des propriétaires, des proches et des capitalistes de
          risque.</p>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
</div>
