<div class="header my-0">
  <div class="header-logo col-2">
    <img src="./assets/images/header/Asset%203.png">
  </div>
  <div class="header-items col-6 my-0">
    <ul class="my-0">
      <li [routerLink]="'/main/home'">Accueille</li>
      <li>Projet</li>
      <li>Services</li>
      <li>Blog</li>
      <li>FQA</li>
      <li>Contact</li>
    </ul>
  </div>
  <div class="header-actions col-4 my-0">
    <button [routerLink]="'/main/create-campaign'" class="start">Start a Project</button>
    <button [routerLink]="'/'" class="log">Log in</button>
  </div>
</div>
