<div style="margin-inline: 9rem; margin-top: 2rem">
  <div class="cardsss">
    <img src="../../../assets/images/header/imageCom.jpeg" />
    <div
      style="
        width: 80%;
        padding-inline: 2rem;
        padding-block: 2rem;
        display: flex;
        flex-direction: column;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <span>Lorem ipsum dolor sit amet.</span>
        <span style="color: #e62e44">Voir plus </span>
      </div>
      <span
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</span
      >
      <div style="margin-bottom: 1rem">
        <mat-progress-bar
          color="accent"
          mode="determinate"
          value="70"
        ></mat-progress-bar>
      </div>
      <div style="display: flex; gap: 20px">
        <span>59.000 DT</span>
        <span style="color: #787878">80,000 DT Targeted Goal</span>
      </div>
    </div>
  </div>
</div>

<style>
  .cardsss {
    box-shadow: 0px 0px 12px #0000000a;
    display: flex;
    height: 183px;
  }
  span {
    margin-bottom: 1rem;
  }
</style>
